<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cargo Transport</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"/>
    <link rel="stylesheet" href="./dist/app.css">
</head>
<body>

    <div id="root" class="wrapper">

      
        <!-- header (@mx content{max-w:, mg: auto}) -->
        <header>
            <!-- .info-container -->
            <div class="info-container">
                <div class="info-content">
                    <div class="open">
                        <i class="fas fa-clock"></i>
                        <span class="open-time">Open Hours: {{openingHours.days}} {{openingHours.time}}</span>
                    </div>

                    <nav class="contact-nav">
<!-- ?? flex non viene applicato al contenuto dinamico -->
                        <!-- <ul v-for="item in headerContacts">
                            <li>{{item}}</li>
                        </ul> -->
                        <ul>
                            <li>
                                <i class="fas fa-phone-alt"></i>
                                {{headerContacts.tel}}
                            </li>
                            <li>
                                <i class="fas fa-envelope"></i>
                                {{headerContacts.email}}
                            </li>
                            <li>
                                <i class="fab fa-facebook-f"></i>
                            </li>
                            <li>
                                <i class="fab fa-twitter"></i>
                            </li>
                            <li>
                                <i class="fab fa-linkedin-in"></i>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="header-content">
                <div class="header-nav-container">
                    <logo class="container">
                        <img src="#" alt="logo">
                    </logo>
                    <nav class="header-nav">
                        <ul v-for="item in headerContentNav">
                            <li>{{item}}</li>
                        </ul>
                        <!-- <ul>
                            <li>lorem</li>
                            <li>lorem</li>
                            <li>lorem</li>
                            <li>lorem</li>
                            <li>lorem</li>
                        </ul> -->
                    </nav>

                </div>

            </div>

            <!-- .header-content -->
                <!-- .header-nav -->
                    <!-- logo | ul (?? logo | ul v-for) -->
    
                <!-- .header-main (display:flex; j-c: flex-start) -->
                    <!-- div.description -->
                    <!-- h1.title -->
                    <!-- p.mission -->
                    <!-- btn | btn (?? meglio div[btn, btn]?) -->

        </header>

      
                



                        <!-- notes: 
                            _all h2 with span inside
                            _regular space between h2 and description in each section
                        -->
            



    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="./js/main.js"></script>
</body>
</html>