<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cargo Transport</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"/>
    <link rel="stylesheet" href="./dist/app.css">
</head>
<body>

    <div id="root" class="wrapper">

        <!-- header -->
        <header>

            <!-- info-container -->
            <div class="info-container">
                <div class="info-content">
                    <div class="open">
                        <i class="fas fa-clock"></i>
                        <span class="open-time">Open Hours: {{openingHours.days}} {{openingHours.time}}</span>
                    </div>

                    <nav class="contact-nav">
                        <ul>
                            <li>
                                <i :class="contacts[0].icon"></i> 
                                {{contacts[0].content}}
                            </li>
                            <li>
                                <i :class="contacts[1].icon"></i> 
                                {{contacts[1].content}}
                            </li>
                            <li v-for="element in social">
                                <i :class="element.icon"></i>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            
            <!-- header-content -->
            <div class="header-content">
                <div class="header-overlay">
                    
                    <div class="header-nav-container">
                        <!-- header logo -->
                        <div class="logo-container">
                            <div class="logo">nexgen</div>
                        </div>

                        <!-- header-nav -->
                        <nav class="header-nav uppercase">
                            <ul >
                                <li v-for="item in headerContentNav">
                                    {{item}}
                                </li>
                                <li>
                                    <i class="far fa-user"></i>
                                </li>
                                <li>
                                    <button class="btn full inTouch"></button>
                                </li>
                            </ul>
                        </nav>
                    </div>

                    <!-- header-main -->
                    <div class="header-main">
                        <div class="description-sentence">logistic services</div>
                        <h1 class="title uppercase">cargo<br>transport</h1>
                        <p class="mission">Fractional or exclusive road cargo transportation to all 
                        <br>regions with small, medium and large vehicles.</p>
                        <button class="btn full inTouch"></button>
                        <button class="btn empty">READ MORE</button>
                    </div>

                </div>
            </div>   
        </header>

        <!-- main -->
        <main>
            <!-- first section -->
            <div class="first-section-container">
                <section class="section first-section">

                    <!-- left-box -->
                    <div class="who left-box">
                        <div class="description-sentence">who we are</div>
                        <h2 class="section-title"><span class="highlighted-text"><i class="far fa-gem"></i> Excellence</span> in Transport</h2>
                        <div class="text-container">
                            <p class="first-text-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. voluptates fuga voluptate, esse quisquam eaque repellat aspernatur architecto obcaecati ad.</p>
                            <p class="second-text--content">Maxime, officiis dolores. Quis corrupti officiis, atque ea cum esse reprehenderit rem porro, voluptates autem non, quod quos illo facilis id accusamus.</p>
                            <blockquote class="quote">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, minima libero nulla rem accusantium, officiis ipsa aliquid laudantium.</blockquote>
                            <p class="third-text-content">Quae assumenda nesciunt dolorum quis nam.</p>
                            <ul>
                                <li>Lorem ipsum dolor sit amet</li>
                                <li>consectetur adipisicing elit</li>
                                <li>Ducimus dolore, sit deserunt accusantium</li>
                                <li>harum rem tenetur exercitationem</li>
                                <li>dignissimos aliquam saepe minus fugiat</li>
                            </ul>
                        </div>
                    </div>
    
                    <!-- right-box -->
                    <div class="right-box capitalize">

                        <!-- vehicles -->
                        <div class="vehicles">
                            <h3 class="subsection-title">Vehicle Types</h3>
                            <ul>
                                <li v-for="truck in vehicles">
                                    <img :src="truck.img" alt="truck">
                                    <div class="container">
                                        <h4>{{truck.type}}</h4>
                                        <div class="charateristics">Max Weight {{truck.load}} kg</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
    
                        <!-- certifications -->
                        <div class="certifications">
                            <h3 class="subsection-title capitalize">Certifications</h3>
                            <div class="certifications-container">
                                <div v-for="certificate in certifications"  class="img-container">
                                    <img :src="certificate.path" alt="certificate">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <!-- second section -->
            <div class="second-section-container">
                <section class="section second-section">

                    <!-- description and title -->
                    <div class="description-sentence">road transport</div>
                    <h2 class="section-title capitalize">main <span class="highlighted-onlyBackground-text">services</span></h2>
                    <div class="text-container">
                        <p class="services-text">With all of this expertise and capability comes an unrivalles commitment to customer service. We will work hard to understand your needs in order to develop a productive, long term partnership.</p>
                        <button class="btn empty">see all</button>
                    </div>

                    <!-- services -->
                    <div class="services-container">
                        <div class="service" v-for="service in services">
                            <div class="img-container">
                                <div class="icon-circle">
                                    <i :class="service.icon" alt="service"></i>
                                </div>
                                <i class="fas fa-arrow-right arrow"></i>
                            </div>
                            <h3 class="subsection-title capitalize">{{service.name}}</h3>
                            <p class="subsection-text">{{service.description}}</p>
                        </div>
                    </div>

                </section>
            </div>

            <!-- third section -->
            <div class="third-section-container">
                <div class="line"></div>
                <section class="section third-section">
                    
                    <!-- description -->
                    <div class="description-container">
                        <div class="description-sentence">how it works in practice</div>
                        <h2 class="section-title capitalize"><span class="highlighted-text">logistical</span> procedure</h2>
                        <p class="section-text">We work with innovative methodologies to ensure that the entire delivery process is done from start to finish as planned.</p>
                    </div>
                    
                    <!-- procedures -->
                    <div class="procedures-container">
                        <div class="procedure" v-for="(procedure, index) in procedures">
                            <div class="number-container">
                                <span>0{{index + 1}}</span>
                            </div>
                            <h3 class="subsection-title">{{procedure.name}}</h3>
                            <p class="subsection-text">{{procedure.description}}</p>
                        </div>
                    </div>
                </section>
            </div>

            <!-- fourth-section -->
            <div class="fourth-section-container">
                <section class="section fourth-section">
                    <div class="description-sentence">what are we doing</div>
                    <h2 class="section-title"><span class="highlighted-onlyBackground-text">Results</span> in Numbers</h2>
                    <div class="results-container">
                        <ul>
                            <li v-for="result in results">
                                <div class="number">{{result.number}}</div>
                                <h3 class="description capitalize subsection-title">{{result.description}}</h3>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>

            <!-- fifth-section -->
            <div class="fifth-section-container">
                <section class="section fifth-section">

                    <!-- description and title -->
                    <div class="description-sentence">customer testimonials</div>
                    <h2 class="section-title capitalize">Trusted <span class="highlighted-onlyBackground-text">Feedback</span></h2>
                    <p class="description-text">We work intensively in search of ideals that can add up in the lives of our customers. This is what move us and we are grateful for the recognition.</p>

                    <!-- services -->
                    <div class="feedback-container">
                        <div class="feed" v-for="feed in feedback">
                            <div class="img-container">
                                <img class="feed-logo" :src="feed.logo" alt="feed logo"></i>
                            </div>
                            <p class="subsection-text main">{{feed.description}}</p>
                            <p class="subsection-text quote">{{feed.quote}}</p>
                            <div class="quote-container">
                                <i class="fas fa-quote-right quote-symbol"></i>
                            </div>
                        </div>
                    </div>

                </section>
            </div>

            <!-- sixth section -->
            <div class="sixth-section-container">
                <section class="section sixth-section">

                    <!-- left-box -->
                    <div class="left-box">
                        <div class="section-header">
                            <div class="description-sentence">send a message</div>
                            <h2 class="section-title">Get in <span class="highlighted-text">Touch</span></h2>
                            <div class="section-description">We will respond to your message as soon as possible.</div>

                            <!-- form -->
                            <form action="#">
                                <input type="text" name="name" id="name" placeholder="Name">
                                <input type="email" name="email" id="email" placeholder="Email">
                                <input type="tel" name="tel" id="tel" placeholder="Phone">
                                <select name="info" id="info" placeholder="More Info">
                                    <option value="">More Info</option>
                                </select>
                                <textarea name="message" id="message" cols="30" rows="6" placeholder="Message"></textarea>
                                <input type="submit" value="SEND" class="btn full">
                            </form>
                        </div>
                    </div>

                    <!-- right-box -->
                    <div class="right-box">
                        <h3 class="subsection-title capitalize">example inc.</h3>
                        <p class="description-first">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <p class="descripiton-second">Inventore placeat aliquam laboriosam voluptatum provident.</p>

                        <!-- contacts -->
                        <div class="contacts-container">

                            <div class="contact-wrapper" v-for="contact in contacts">
                                <div class="icon-container">
                                    <i :class="contact.icon"></i> 
                                </div>
                                <span :class="contact.type">{{contact.content}}</span>
                            </div>

                        </div>

                        <button class="map btn empty">view map</button>
                    </div>

                </section>
            </div>
        </main>

            <!-- footer -->
            <footer>

                <!-- footer-top -->
                <div class="footer-top section">

                    <!-- first card -->
                    <div class="card">
                        
                        <!-- logo -->
                        <div class="logo-container">
                            <div class="logo">nexgen</div>
                        </div>

                            <!-- description -->
                            <p class="description">A Functional HTML Template for Corporate & Business.</p>
                            
                            <!-- contacts -->
                            <ul class="contacts">
                                <li v-for="contact in contacts">

                                    <!-- logo -->
                                    <div class="icon-container">
                                        <i :class="contact.icon"></i>
                                    </div>
                                    
                                    <span :class="contact.type">{{contact.content}}</span>
                                </li>
                            </ul>

                            <!-- button -->
                            <div class="button-container">
                                <button class="btn inTouch empty"></button>
                            </div>
                    </div>

                    <!-- other cards (from data) -->
                    <div class="card" v-for="card in footer.cards">
                        <h3 class="subsection-title">{{card.title}}</h3>
                        <ul>
                            <li v-for="element in card.elements">
                                <i class="fas fa-angle-right"></i>
                                {{element}}
                            </li>
                        </ul>
                    </div>
                    
                </div>

                <!-- footer-bottom -->
                <div class="footer-bottom-container">
                    <div class="footer-bottom">
                        <div class="piracy">Enjoy the low price. We are tracking any intention of piracy.</div>
                        <div class="copyright">&#169 2020 NEXGEN is Proudly Powered by <span>Codings</span>.</div>
                        <div class="goTop">
                            <i class="fas fa-arrow-up"></i>
                        </div>
                    </div>
                </div>
            </footer>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="./js/main.js"></script>
</body>
</html>