$primary-light-color: white; 
$primary-dark-color: #C0C3D1; 
$secondary-light-color: #DAECED;
$secondary-mid-color: #41c457;
$complementary-secondary-mid-color: #FFFFFF;
$secondary-dark-color: rgba(2, 132, 132, 0.3);