/* TO DO 
_adding a bigger space-between among vars?
_credits for gem font-awesome image
_space between certifications title and images
_change tag section in .section here in css and add section to html classes
_refactoring
*/

/* $var
var: $primary-light-color: white, $primary-dark-color:grey, $secondary-light-color§:lightwatergreen, $secondary-mid-color:weatergreen
var: $background-light-color, $background-dark-primary-color, $background-dark-secondary-color 
var: $page-elements
*/

/* @mixin
content{max-w:, mg: auto} // one each section
*/

// font: montserrat (similar)

/* VAR & MIXINS */
// text and buttons
$primary-light-color: white; 
$primary-dark-color: #C0C3D1; // #69696D; 
$secondary-light-color: #DAECED; // #719a9c; 
$secondary-mid-color: #028484;
$complementary-secondary-mid-color: #FFFFFF;
$secondary-dark-color: rgba(2, 132, 132, 0.3);

// layout
$background-light-color: white; 
$background-dark-primary-color: #121117; 
$background-dark-secondary-color: #191C1E; // !! secondo me è #19191F

$space-between-section-elements: 10px;

// others
$horizontal-nav-li-distance: 30px;

// max width and centering of the content
@mixin content-shrink {
    width: 1000px;
    margin: 0 auto;
}

// ul: no style and flex
@mixin horizontal-ul {
    list-style: none;
    display: flex;
    align-items: center;
}

// @mixin description-style {
//     color: $secondary-mid-color;
//     font-size: 0.8rem;
//     font-weight: 500;
//     margin-bottom: $space-between-section-elements;
// }

@mixin normal-text {
    color: $primary-dark-color;
    font-size: 0.9rem;
}


/* COMMON & UTILITIES */
html {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

* {
    box-sizing: border-box; 
    margin: 0; 
    padding: 0;
}

section {
    padding: 90px 0;
}

.description-sentence {
    color: $secondary-mid-color;
    font-size: 0.8rem;
    font-weight: 500;
    margin-bottom: $space-between-section-elements;
    text-transform: uppercase;
}

h2.section-title {
    font-size: 2rem;
    font-weight: 800;
    margin: 15px 0;
}

h3.subsection-title {
    font-size: 1rem;
    font-weight: 600;
}

.btn {
    padding: 9px 17px;
    font-size: 0.8rem;
    border-radius: 4px;
    text-transform: uppercase;
}

.btn.full {
    color: $primary-light-color;
    background-color: $secondary-mid-color;
    border: 1px solid $secondary-mid-color;
}

.btn.empty {
    color: $primary-light-color;
    border: 1px solid $secondary-mid-color;
    background-color: transparent;
}

.btn.inTouch::after {
    content: "GET IN TOUCH";
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

.highlighted-text {
    padding: 5px 10px;
    background-color: $secondary-light-color;
    color: $secondary-mid-color;
}

.highlighted-onlyBackground-text {
    padding: 5px 10px;
    background-color: $secondary-dark-color;
}


/* STYLE */
// _header
header {
    
    .info-container {
        background-color: #21333E;
        color: $primary-dark-color;
    }
    
    // _info-content
    .info-content {
        @include content-shrink;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 0.8rem;
        
        .contact-nav {
            width: 60%;

            ul {
                @include horizontal-ul;
                justify-content: flex-end;
                height: 40px;

                li {
                    margin-left: $horizontal-nav-li-distance;
                }
            }
        }
    }
    // _/info-content

    // _header-content
    .header-content {
        height: 570px;
        background: url("../img/bg-9.jpg") no-repeat center;
        background-size: cover;

        .header-nav-container {
            @include content-shrink;
            color: $primary-light-color;
            text-transform: uppercase;
            display: flex;
            justify-content: space-between;
            height: 70px;

            .logo-container {
                display: flex;
                align-items: center;

                // _LOGO
                .logo {
                    text-transform: uppercase;
                    height: 2.1em;
                    width: 8.8em;
                    line-height: 2.1em;
                    text-align: center;
                    letter-spacing: 0.3em;
                    font-weight: 600;
                    position: relative;
                    font-size: 1rem;
                }

                .logo::after {
                    content: "";
                    display: block;
                    position: absolute;
                    background-color: $secondary-mid-color;
                    opacity: 0.5;
                    width: 4.2em;
                    height: 2.1em;
                    border-top-left-radius: 50px;
                    border-bottom-left-radius: 50px;
                    bottom: 0;
                    left: 0;
                }
                // _/LOGO
            }

            .header-nav {

                ul {
                    @include horizontal-ul;
                    font-size: 0.9rem;
                    font-weight: 500;
                    height: 70px;

                    li {
                        margin-left: $horizontal-nav-li-distance;
                    }
                }
            }
        }

        .header-main {
            @include content-shrink;
            margin-top: 90px;

            .description {
                // @include description-style;
            }

            .title {
                font-family: 'Roboto', sans-serif;
                color: $primary-light-color;
                font-size: 3rem;
                font-weight: 900;
            }

            .mission {
                @include normal-text;
                padding: 15px 0 30px;
            }

            button.full {
                margin-right: 15px;
            }
        }

    }
    // _/header-content

}

// _main
main {
    .first-section-container {
        @include content-shrink;
    }

    // _first-section
    .first-section {
        display: flex;
        justify-content: space-between;

        // _left box
        .who.left-box {
            width: 60%;

            // h2.section-title::before {
            //     content: url('../img/gem-regular.svg');
            //     width: 10px !important;
            // }

            .description {
                // @include description-style;
            }

            .text-container {
                
                p, .quote {
                    @include normal-text;
                    margin-bottom: $space-between-section-elements;
                }
                
                .quote {
                    padding: 10px 35px 10px 25px;
                    border-left: 3px solid $secondary-light-color;
                    font-style: italic;
                }

                ul {
                    @include normal-text;
                    padding-left: 19px;

                    li {
                        padding: 2px 0;
                    }


                }
            }

        }

        // _right-box
        .right-box {

            //_vehicles 
            .vehicles {
                
                ul {
                    list-style: none;

                    li {
                        border-bottom: 1px solid $primary-dark-color;
                        display: flex;
                        padding: 15px 0 15px;

                        img {
                            background-color: $secondary-light-color;
                            width: 70px;
                            padding: 5px;
                            // height: 35px;
                        }

                        .container {
                            margin-left: 15px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;

                            h4 {
                                font-size: 1rem;
                                font-weight: 600;
                                margin-bottom: 4px;
                            }

                            .charateristics {
                                font-size: 0.8rem;
                                color: $primary-dark-color;
                            }
                        }
                    }

                    li:last-child {
                        border-bottom: none;
                    }
                }
            }

            // _certifications
            .certifications {
                margin-top: 50px;

                .certifications-container {
                    display: flex;

                    .img-container {
                        width: 100px;
                        height: 100px;
                        margin-right: 15px;
                        box-shadow: 2px 2px 10px lightgrey;
                        padding-top: 3px;

                        img {
                            width: 100%;
                            text-align: center;
                        }
                    }
                    
                }
            }
        }

    }

    // _second-section
    .second-section-container {
        background-color: $background-dark-primary-color;
        
        .second-section {
            @include content-shrink;

            div.description {
                // @include description-style;
            }

            h2.section-title {
                color: $primary-light-color;

                // span {
                //     color: $primary-light-color;
                //     background-color: $secondary-dark-color;
                // }
            }

            .text-container {
                @include normal-text;
                display: flex;
                justify-content: space-between;

                .services-text {
                    width: 75%;
                    margin-bottom: $space-between-section-elements;
                }
            }

            .services-container {
                display: flex;
                justify-content: space-between;
                padding: 15px 0;

                .service {
                    background-color: $background-dark-secondary-color;
                    padding: 35px;
                    border-radius: 6px;
                    width: 32%;

                    .img-container {
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: $space-between-section-elements;

                        .icon-circle {
                            background-color: rgba(2, 132, 132, 0.3);
                            margin-bottom: $space-between-section-elements;
                            border-radius: 50%;
                            height: 40px;
                            width: 40px;
                            line-height: 40px;
                            text-align: center;

                            i:first-child {
                                font-size: 20px;
                                color: $secondary-mid-color;
                            }
                        }

                        .arrow {
                            color: $secondary-mid-color;
                        }
                    }

                    .subsection-title {
                        color: $primary-light-color;
                        margin-bottom: $space-between-section-elements
                    }

                    .subsection-text {
                        @include normal-text;
                        color: $primary-dark-color;
                    }
                }

            }
        }

    }

    // third-section
    .third-section-container {
        background-color: #EFF4EE;
        position: relative;
        
        .line {
            position: absolute;
            top: 266px;
            z-index: 0;
            height: 4px;
            width: 100%;
            background-color: $secondary-light-color;
        }
        
        .third-section {
            width: 1400px;
            margin: 0 auto;
            
            .description-container {
                width: 800px;
                margin: 0 auto $space-between-section-elements;
                text-align: center;

                .section-text {
                    @include normal-text;
                }
            }

            .procedures-container {
                display: flex;
                justify-content: space-between;
                margin-top: 40px;

                .procedure {
                    width: 13%;
                    text-align: center;

                    .number-container {
                        display: inline-block;
                        position: relative;
                        z-index: 1;
                        height: 36px;
                        width: 36px;
                        background-color: $secondary-light-color;
                        border-radius: 50%;
                        line-height: 36px;
                        text-align: center;
                        font-size: 1rem;
                        font-weight: 600;
                        color: $secondary-mid-color;
                    }
                    
                    .subsection-title {
                        margin-top: $space-between-section-elements;
                        margin-bottom: $space-between-section-elements;
                        margin-right: auto;
                        margin-left: auto;
                    }

                    .subsection-text {
                        @include normal-text;
                    }


                }

            }
        }
    }

    // fourth section
    .fourth-section-container {
        background: url("../img/bg-10.jpg") no-repeat center;
        background-size: cover;

        .fourth-section  {
            text-align: center;
            @include content-shrink;

            .section-title {
                color: $primary-light-color;
            }

            .results-container {
                padding-top: 50px;
                
                ul {
                    @include horizontal-ul;
                    justify-content: space-between;

                    li {
                        text-align: center;

                        .number {
                            color: $secondary-mid-color;
                            margin-bottom: $space-between-section-elements;
                            font-size: 2rem;
                            font-weight: 600;
                        }

                        .subsection-title {
                            color: $primary-light-color;
                        }
                    }
                }
            }


        }
    }

    // _fifth-section
    .fifth-section-container {
        background-color: $background-dark-primary-color;
        
        .fifth-section {
            @include content-shrink;
            text-align: center;

            h2.section-title {
                color: $primary-light-color;
            }

            .description-text {
                @include normal-text;
                width: 700px;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: $space-between-section-elements;
            }

            .feedback-container {
                display: flex;
                justify-content: space-between;
                padding: 15px 0;

                .feed {
                    background-color: $background-dark-secondary-color;
                    padding: 35px;
                    border-radius: 6px;
                    width: 32%;

                    .img-container {
                        outline: 1px dotted lightblue;
                        margin-bottom: $space-between-section-elements;

                        img {
                            width: 100%;
                            color: $primary-light-color;
                        }
                    }

                    .subsection-text {
                        @include normal-text;
                        text-align: left;
                        // color: $primary-dark-color;
                    }

                    .quote {
                        margin-top: 5px;
                    }

                    .quote-container {
                        text-align: right;

                        .quote-symbol {
                            color: #47474C;
                            font-size: 1.2rem;
                        }
                    }

                }

            }
        }

    }
}
