/* $var
var: $primary-light-color: white, $primary-dark-color:grey, $secondary-light-color§:lightwatergreen, $secondary-dark-color:weatergreen
var: $background-light-color, $background-dark-primary-color, $background-dark-secondary-color 
var: $page-elements
*/

/* @mixin
content{max-w:, mg: auto} // one each section
*/

// font: montserrat (similar)

/* VAR & MIXINS */
// text and buttons
$primary-light-color: white; 
$primary-dark-color: #C0C3D1; // #69696D; 
$secondary-light-color: #719a9c; 
$secondary-dark-color: #028484;
$complementary-secondary-dark-color: #FFFFFF;

// layout
$background-light-color: white; 
$background-dark-primary-color: #121117; 
$background-dark-secondary-color: #191C1E; // !! secondo me è #19191F

// others
$horizontal-nav-li-distance: 30px;

// max width and centering of the content
@mixin content-shrink {
    width: 1000px;
    margin: 0 auto;
}

// ul: no style and flex
@mixin horizontal-ul {
    list-style: none;
    display: flex;
    align-items: center;
}


/* COMMON & UTILITIES */
html {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

* {
    box-sizing: border-box; 
    margin: 0; 
    padding: 0;
}

.btn {
    padding: 9px 17px;
    font-size: 0.8rem;
    border-radius: 4px;
}

.btn.full {
    color: $primary-light-color;
    background-color: $secondary-dark-color;
    border: 1px solid $secondary-dark-color;
}

.btn.empty {
    color: $primary-light-color;
    border: 1px solid $secondary-dark-color;
    background-color: transparent;
}

.btn.inTouch::after {
    content: "GET IN TOUCH";
    
}

.uppercase {
    text-transform: uppercase;
}


/* STYLE */
// _header
header {
    
    .info-container {
        background-color: #21333E;
        color: $primary-dark-color;
    }
    
    // _info-content
    .info-content {
        @include content-shrink;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 0.8rem;
        
        .contact-nav {
            width: 60%;

            ul {
                @include horizontal-ul;
                justify-content: flex-end;
                height: 40px;

                li {
                    margin-left: $horizontal-nav-li-distance;
                }
            }
        }
    }
    // _/info-content

    // _header-content
    .header-content {
        height: 570px;
        background: url("../img/bg-9.jpg") no-repeat center;
        background-size: cover;

        .header-nav-container {
            @include content-shrink;
            color: $primary-light-color;
            text-transform: uppercase;
            display: flex;
            justify-content: space-between;
            height: 70px;

            .logo-container {
                display: flex;
                align-items: center;

                // _LOGO
                .logo {
                    text-transform: uppercase;
                    height: 2.1em;
                    width: 8.8em;
                    line-height: 2.1em;
                    text-align: center;
                    letter-spacing: 0.3em;
                    font-weight: 600;
                    position: relative;
                    font-size: 1rem;
                }

                .logo::after {
                    content: "";
                    display: block;
                    position: absolute;
                    background-color: $secondary-dark-color;
                    opacity: 0.5;
                    width: 4.2em;
                    height: 2.1em;
                    border-top-left-radius: 50px;
                    border-bottom-left-radius: 50px;
                    bottom: 0;
                    left: 0;
                }
                // _/LOGO
            }

            .header-nav {

                ul {
                    @include horizontal-ul;
                    font-size: 0.9rem;
                    font-weight: 500;
                    height: 70px;

                    li {
                        margin-left: $horizontal-nav-li-distance;
                    }
                }
            }
        }

        .header-main {
            @include content-shrink;
            margin-top: 90px;

            .description {
                color: $secondary-dark-color;
                font-size: 0.8rem;
                font-weight: 500;
                margin-bottom: 10px;;
            }

            .title {
                font-family: 'Roboto', sans-serif;
                color: $primary-light-color;
                font-size: 3rem;
                font-weight: 900;
            }

            .mission {
                color: $primary-dark-color;
                font-size: 0.9rem;
                padding: 15px 0 30px;
            }

            button.full {
                margin-right: 15px;
            }
        }

    }
    // _/header-content



}
